/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans:ital,wght@0,1..1000;1,1..1000&family=Supermercado+One&display=swap');

/* General */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body */
body {
    background-color: var(--blue);
    color: var(--brown);
    height: 100vh;
    display: flex;
    justify-content: center; 
    align-items: center;
    flex-direction: column;
}

/* Colors */
:root {
    --white: #FDFCF8;
    --cream: #EEE8DA;
    --brown: #312926;
    --dark-orange: #DF5A16;
    --light-orange: #E7A23A;
    --green: #91B287;
    --blue: #ACC7DE;
}

/* Texts */
h1 {
    font-family: "Supermercado One", sans-serif;
    padding: 2%;
    text-align: center;
}

p {
  font-family: "Sofia Sans", sans-serif;
  text-align: center;
}

/* Images */
img {
    height: auto;
    transition: transform 0.2s ease-in-out;
}

.fruit {
    width: 10vw;
    transition: transform 0.3s ease-in-out;
}

.fruit:hover {
    animation: bounce 0.5s ease-in-out;
}

.shadow {
    width: 8vw;
    padding: 10px;
    transform-origin: center center;
    transition: transform 0.3s ease-in-out;
}

.fruit:hover + .shadow {
    animation: shrinkShadow 0.5s ease-in-out;
}

/* Animations */
@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}

@keyframes shrinkShadow {
    0%, 100% {
        transform: scale(1); /* Normal size when fruit is on the ground */
    }
    50% {
        transform: scale(0.7); /* Smaller shadow when fruit is higher */
    }
}